*{
	margin: 0;
	padding: 0;		
}
body{
	margin:0 auto;
	width: 940px;
	font-size: 14px;
	font-family: verdana, Geneva, sans-serif;
	background-color: #F5F5F5;
	color:#666666;
}
header, nav, section, article, footer, aside{
	display: block;
}
header h1{
	font-size: 35px;
	line-height: 40px;
	padding: 20px ;
}
article{
	clear:both;
	margin-top: 10px;
	text-align: justify;
}
nav ul{
	list-style-type: none;
}
nav ul li{
	float: left;
}
nav ul li a{
	display: block;
	height: 25px; /* ALTURA */
	padding: 0 30px; /* ESPAÇAMENTO */
	float: left; /* FLUTUAR */
	font-size: 14px;
	line-height: 30px; /* ALTURA DA LINHA */
	text-align: center;
	text-decoration: none; /* RETIRAR SUBLINHADO dos links */
	color: #000;	
	font-weight: bold;
}
nav ul li a.selecionado{
	color:#FFF;
	background-color: #ed127f;	
	padding: 0 58px; /* espaçamento estre os menus */
	margin-left: 1px; /* Margem a esquerda */
	height: 30px; /* Altura da TAG */
	line-height: 30px; /* Altura da LINHA */
	margin-top: 5px; /* uma pequena margem do título */
	border-radius: 5px 5px 5px 5px;
}
nav ul li a.selecionado:hover{
	color:#FFF;
	margin-top: 2px; /* uma pequena margem do título */
	background-color: #BC005E;
}
section#intro{
	height: 235px;
	width: 935px;
	background: url('outrubro_rosa.png') right top no-repeat #EBE9E9;
	margin-top: 60px;
	padding-left: 10px;

}

section#intro p{
	padding-top: 35px;
	font-style: italic;	
	font-size: 14px;
	width: 800px;
	color: #34A8E0;
}

article header h1{
	font-size: 22px;
	text-align: left;
	line-height: 40px;
	margin-top: 20px;
	padding: 0;
}
article{
	width: 620px;
	float: left;
}
article p{
	margin-bottom: 10px;
	padding-right: 10px;
	width: 620px;
}
article header p{
	font-size: 15px;
	line-height: 30px;
	font-style: italic;
	margin-bottom: 0px;
}
aside{
	float: right;
	width: 280px;
	padding-left: 40px;
}
aside section{
	margin-top: 35px;
}
aside section h1{
	margin-bottom: 15px;
	font-size: 16px;
}

aside section ul li{	
	list-style-type: none;	
}
aside section ul li a{
	color: #ED127F;
	text-decoration: none;	
}
aside section ul li a:hover{
	text-decoration: underline;	
	color: #BF0461;
	font-weight: bold;
}